@import "tailwindcss";

:root {
  --primary-color: #ff8fb7;
  --secondary-color: #e83c91;
  --bg-color: #43334c;
  --more-color: #f8f4ec;
  --shadow-color: 0 2px 2px rgba(0, 0, 0, 0.5);
}
body {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  min-height: auto;
  overflow-x: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-1.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(100%);
}

.hero {
  min-height: 100vh;
  position: relative;
}
.hero h4 span {
  font-size: 2rem;
  text-decoration: underline;
}

.hero .display-1,
.hero .display-4 {
  text-shadow: var(--shadow-color);
}

.hero .display-1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.hero .display-4 {
  font-size: 1.5rem;
}

.hero a {
  color: var(--primary-color);
  background-color: var(--more-color);
  box-shadow: var(--shadow-color);
}

.hero a:hover {
  color: var(--more-color);
  background-color: var(--primary-color);
}

/* Navbar */
.mynavbar {
  font-family: "Dosis", sans-serif;
  background-color: rgba(255, 255, 250, 0.7) !important;
  backdrop-filter: blur(4px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
.mynavbar .navbar-brand,
.mynavbar h5 {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--bg-color);
  text-shadow: var(--shadow-color);
}
.mynavbar .nav-link {
  color: var(--bg-color);
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  text-shadow: var(--shadow-color);
}
.mynavbar .offcanvas {
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
}

/* Home */
.home {
  background-image: url(img/bg-2.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-top: -5rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.home p {
  font-weight: 400;
  font-size: 1.2rem;
}
.home h2 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary-color);
  padding-top: 2rem;
}
.home h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem, 2rem, 2rem, 1rem;
}
.home .couple h3 {
  font-family: "sacramento", cursive;
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary-color);
  text-shadow: var(--shadow-color);
}
.home .couple p {
  font-size: 1.2rem;
}
.home .couple img {
  width: 100%;
  box-shadow: var(--shadow-color);
}

/* Info */
.info {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--more-color);
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.info h2 {
  color: var(--primary-color);
  font-family: "sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}
.info .alamat {
  font-size: 1.5rem;
}
.info .description {
  font-size: 1.2rem;
  font-weight: 300;
}
.info .card {
  background-color: rgba(255, 255, 250, 0.3) !important;
  border: 1px solid #eee;
  color: white !important;
}
.info .card-header {
  border-bottom: 1px solid #eee;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.info .card-body {
  font-size: 1.6rem;
}
.info .card-footer {
  font-size: 1.2rem;
  border-top: 1px solid #eee;
}

/* Story */
.story {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.story span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 1rem;
}
.story h2 {
  color: var(--secondary-color);
  font-family: "sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}
.timeline {
  list-style: none;
  padding: 1.4rem 10rem;
  margin-top: 1rem;
  position: relative;
}
.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1.5px;
  background-color: #666;
  left: 50%;
}
.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}
.timeline li::after {
  clear: both;
}
.timeline li .timeline-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border-radius: 50%;
  border: 2px solid #eee;
  z-index: 100;
}
.timeline li .timeline-panel {
  text-align: center;
  float: left;
  margin-left: -10px;
  width: 40%;
  padding: 20px;
  background: var(--more-color);
  border: 1px solid #eee;
  border-radius: 6px;
  position: relative;
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #eee;
  border-right: 0 solid #eee;
  border-bottom: 15px solid transparent;
  top: 50px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--more-color);
  border-right: 0 solid var(--more-color);
  border-bottom: 14px solid transparent;
  top: 51px;
  right: -14px;
}
.timeline li.timeline-inverted .timeline-panel {
  float: right;
  margin-right: -10px;
}
.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -14px;
  right: auto;
}

/* RSPV */
.rspv {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--more-color);
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.rspv h2 {
  color: var(--primary-color);
  font-family: "sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}
.rspv p {
  font-size: 1.5rem;
  font-weight: 200;
}
.rspv button {
  background-color: var(--primary-color);
  color: var(--more-color);
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1rem;
}
.rspv button:hover {
  background-color: var(--more-color);
  color: var(--primary-color);
}
.disqus-wrapper {
  width: 100%;
  overflow-x: hidden;
}
/* GIFTS */
.gift {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--more-color);
}
.gift span {
  color: #666;
  font-weight: 200;
}
.gift h2 {
  color: var(--secondary-color);
  font-family: "sacramento", cursive;
  font-size: 5rem;
  font-weight: 600;
}
.gift p {
  font-size: 1.5rem;
  color: var(--bg-color);
}
.gift li span {
  color: var(--bg-color);
  font-size: 1.5rem;
  text-shadow: var(--shadow-color);
}

/* Footer */
footer {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--more-color);
}
footer a {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 500;
  text-shadow: var(--shadow-color);
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  top: 7rem;
  right: 2rem;
  cursor: pointer;
  color: #eee;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Wuery */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
  .simply-countdown-circle > .simply-section {
    padding: 50px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .simply-countdown-circle > .simply-section {
    padding: 30px;
  }
  .home .couple img {
    width: 90%;
  }
  .sticky-top {
    overflow: hidden;
  }
  .timeline li .timeline-image {
    width: 70px;
    height: 70px;
  }
  .timeline li .timeline-panel::before {
    top: 35px;
    right: -15px;
  }
  .timeline li .timeline-panel::after {
    top: 36px;
    right: -14px;
  }
  .rspv button {
    transform: translateX(350px);
    font-size: 1.5rem;
  }
  .gift ul {
    margin-top: 5px;
    font-size: 2rem;
  }
  .gift ul span {
    font-size: 2rem;
  }
}
/* HP */
@media (max-width: 576px) {
  html {
    font-size: 70%;
  }
  body {
    overflow-x: hidden;
  }
  .home,
  .info,
  .story,
  .rspv,
  .gift {
    max-height: 100vh;
  }
  .simply-countdown-circle > .simply-section {
    padding: 20px;
    width: 60px;
    height: 60px;
  }
  .home .couple img {
    width: 90%;
  }
  .timeline h3 {
    font-size: 1.2rem;
  }
  .timeline span {
    font-size: 0.7rem;
  }
  .timeline p {
    font-size: 0.9rem;
  }
  .timeline li .timeline-panel {
    padding: 10px;
    margin-left: -25px;
  }
  .timeline li.timeline-inverted .timeline-panel {
    float: right;
    margin-right: -25px;
  }
  .rspv button {
    margin-top: -25px;
    transform: translateX(320px);
    font-size: 1.5rem;
  }
  .disqus-wrapper {
    transform: scale(0.6);
    transform-origin: top center;
  }
  .gift ul {
    margin-top: 5px;
    font-size: 2rem;
  }
  .gift ul span {
    font-size: 2rem;
  }
}
